/*------------------------------------*\
    RESET
\*------------------------------------*/
/* http://meyerweb.com/eric/tools/css/reset/
    v2.0b1 | 201101
    NOTE:WORK IN PROGRESS
    USE WITH CAUTION AND TEST WITH ABANDON */

html,body,div,span,applet,object,iframe,
h1,h2,h3,h4,h5,h6,p,blockquote,pre,
a,abbr,acronym,address,big,cite,code,
del,dfn,em,img,ins,kbd,q,s,samp,
small,strike,strong,sub,sup,tt,var,
b,u,i,center,
dl,dt,dd,ol,ul,li,
fieldset,form,label,legend,
table,caption,tbody,tfoot,thead,tr,th,td,
article,aside,canvas,details,figcaption,figure,
footer,header,hgroup,menu,nav,section,summary,
time,mark,audio,video{
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    font:inherit;
    vertical-align:baseline;
}
/* HTML5 display-role reset for older browsers */
article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section{
    display:block;
}
body{
    line-height:1;
}
ol,ul{
    list-style:none;
}
blockquote,q{
    quotes:none;
}
blockquote:before,blockquote:after,
q:before,q:after{
    content:’’;
    content:none;
}
/* remember to define visible focus styles!
:focus{
    outline:?????;
} */

/* remember to highlight inserts somehow! */
ins{
    text-decoration:none;
}
del{
    text-decoration:line-through;
}

table{
    border-collapse:collapse;
    border-spacing:0;
}





/*------------------------------------*\
    $MAIN
\*------------------------------------*/
/* GO! */

body{
    font-family: sans-serif;
    color: #022F53;
    background-color: #A6D6C8;
    font-size: 32pt;
    position: absolute;
    left: 0px;
    top: 0px;
    width: 2160px;
    height: 3840px;
}

.page_header {
    text-align: center;
    font-size: 128pt;
}

.page_footer {
    text-align: center;
    position: absolute;
    width: 100%;
    bottom: 0px;
    left: 0px;
}

[class^=content_slider] {
    position: absolute;
    left: 0px;
    width: 2160px;
    height: 1170px;
}

.content_slider0 {
    top: 830px;
}

.content_slider1 {
    top: 2305px;
}

.app_wrapper_bg {
    position: absolute;
    overflow: hidden;
    left: 300px;
    top: 0px;
    width: 1560px;
    height: 1170px;
    background-color: #022F53;    
}

.app_wrapper {
    cursor: move;
    position: absolute;
    overflow: hidden;
    left: 300px;
    top: 0px;
    width: 1560px;
    height: 1475px;
}

.app {
    position: relative;
    overflow: hidden;
    height: 1170px;
    width:100%;
    color: white;
    background-color: #022F53;
}

.app_description {
    position: relative;
    overflow: hidden;
    left: 0px;
    width: 100%;
    float: left;
    text-align: justify;
}

.app_name {
    position: relative;
    overflow: hidden;
    left: 0px;
    width: 50%;
    float: left;
    text-align: left;
}

.app_credits {
    position: relative;
    overflow: hidden;
    right: 0px;
    width: 50%;
    text-align: right;
}



/*------------------------------------*\
    jssor slider bullet navigator skin 10 css
\*------------------------------------*/
/*
.jssorb10 div           (normal)
.jssorb10 div:hover     (normal mouseover)
.jssorb10 .av           (active)
.jssorb10 .av:hover     (active mouseover)
.jssorb10 .dn           (mousedown)
*/
.jssorb10 {
    position: absolute;
}
.jssorb10 div, .jssorb10 div:hover, .jssorb10 .av {
    position: absolute;
    /* size of bullet elment */
    width: 30px;
    height: 30px;
    border: 3px solid #022F53;
    border-radius: 50%;
    overflow: hidden;
    cursor: pointer;
}
.jssorb10 div:hover, .jssorb10 .av:hover, .jssorb10 .av, .jssorb10 .dn, .jssorb10 .dn:hover { background: #022F53; }

/*------------------------------------*\
    jssor slider arrow navigator skin 06 css
\*------------------------------------*/
/*
.jssora06l                  (normal)
.jssora06r                  (normal)
.jssora06l:hover            (normal mouseover)
.jssora06r:hover            (normal mouseover)
.jssora06l.jssora06ldn      (mousedown)
.jssora06r.jssora06rdn      (mousedown)
*/

[class^=jssor_arrow]{
    position: absolute;
    top: 0px;
    /* size of arrow element */
    width: 300px;
    height: 1170px;
    cursor: pointer;
    overflow: hidden;
    background-color: transparent;
}

.svg_arrow {
    display: inline-block;
    margin: auto;
    position: absolute;
    left:0px;
    right: 0px;
    top: 0px;
    bottom: 0px;
}

.svg_arrow_polyline {
    fill:none;
    stroke: #022F53;
    stroke-width:10;
}

.top_slider {
    position: relative;
    top: 20px;
    left: 0px;
    width: 2160px;
    height: 300px;
}

.top_slider_slides {
    cursor: move;
    position: absolute;
    overflow: hidden;
    left: 0px;
    top: 0px;
    width: 2160px;
    height: 300px;
}

.top_slider_slides div {
    padding-left: 100px;
    padding-right: 100px;
}
