/*------------------------------------*\
    RESET
\*------------------------------------*/
/* http://meyerweb.com/eric/tools/css/reset/
    v2.0b1 | 201101
    NOTE:WORK IN PROGRESS
    USE WITH CAUTION AND TEST WITH ABANDON */

html,body,div,span,applet,object,iframe,
h1,h2,h3,h4,h5,h6,p,blockquote,pre,
a,abbr,acronym,address,big,cite,code,
del,dfn,em,img,ins,kbd,q,s,samp,
small,strike,strong,sub,sup,tt,var,
b,u,i,center,
dl,dt,dd,ol,ul,li,
fieldset,form,label,legend,
table,caption,tbody,tfoot,thead,tr,th,td,
article,aside,canvas,details,figcaption,figure,
footer,header,hgroup,menu,nav,section,summary,
time,mark,audio,video{
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    font:inherit;
    vertical-align:baseline;
}
/* HTML5 display-role reset for older browsers */
article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section{
    display:block;
}
body{
    line-height:1;
}
ol,ul{
    list-style:none;
}
blockquote,q{
    quotes:none;
}
blockquote:before,blockquote:after,
q:before,q:after{
    content:’’;
    content:none;
}
/* remember to define visible focus styles!
:focus{
    outline:?????;
} */

/* remember to highlight inserts somehow! */
ins{
    text-decoration:none;
}
del{
    text-decoration:line-through;
}

table{
    border-collapse:collapse;
    border-spacing:0;
}





/*------------------------------------*\
    $MAIN
\*------------------------------------*/
/* GO! */
body{
    background-color: #777777;
    font-size: 32pt;
}

.page_header {
    font-size: 128pt;
}

.page_footer {
    position: absolute;
    bottom: 0px;
    left: 0px;
    font-size: 128pt;
}

.content_slider {
    position: relative;
    top: 0px;
    left: 0px;
    width: 2160px;
    height: 1400px;
}

.app_wrapper {
    cursor: move;
    position: absolute;
    overflow: hidden;
    left: 0px;
    top: 0px;
    width: 2160px;
    height: 1400px;
}

.app {
    position: absolute;
    overflow: hidden;
    left: 0px;
    top: 0px;
    width: 2160px;
    height: 1215px;
    width:100%;
}

.app_name {
    background-color: red;
    color: green;
    position: absolute;
    overflow: hidden;
    left: 0px;
    top: 1215px;
    width: 50%;
    height: 185px;
    text-align: left;
}
.app_credits {
    background-color: blue;
    color: green;
    position: absolute;
    overflow: hidden;
    right: 0px;
    top: 1215px;
    width: 50%;
    height: 185px;
    text-align: right;
}
